.main{
    margin-top: 20rem;
    margin-bottom: 110rem;
    margin-left: 50rem;
}

.out{
    width: 650rem;
    height: 200rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 30rem;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
}

.people{
    /* background-color: aqua; */
    display: flex;
    width: 550rem;
    margin: 20rem 0;
    justify-content: space-between;
}

.name{
    /* background-color: blue; */
    font-size: 38rem;
    margin: 0 10rem;
    color: darkgray;
}

.phone{
    /* background-color: blueviolet; */
    font-size: 38rem;
    color: darkgray;
}

.address{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    width: 550rem;
}

.sample{
    /* background-color: blue; */
    font-size: 36rem;
    margin: 0 10rem;
}

.detail{
    /* background-color: blueviolet; */
    font-size: 36rem;
}


.btn{
    width: 600rem;
    height: 100rem;
    border: none;
    border-radius: 50rem;
    font-size: 40rem;
    position: fixed;
    left: 0;
    bottom: 50rem;
    right: 0;
    margin: auto;
    background-color: cadetblue;
    color: #fff;
}