.main{
    height:100%;
	margin:0;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: cadetblue;
    position: relative;
    top: -40rem;
}

.form{
    width: 500rem;
    height: 500rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name{
    width: 600rem;
    height: 120rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 50rem;
    font-size: 34rem;
}

.name input{
    width: 420rem;
    height: 80rem;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 35rem;
}

.psw{
    width: 600rem;
    height: 120rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 50rem;
    font-size: 34rem;
}

.psw input{
    width: 420rem;
    height: 80rem;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 35rem;
}

.btn{
    width: 400rem;
    height: 80rem;
    border: none;
    border-radius: 20rem;
    font-size: 35rem;
    font-weight: bold;
    background-color: cadetblue;
    color: #fff;
}

.sign{
    margin-top: 30rem;
    text-decoration: none;
    color: cadetblue;
    font-size: 28rem;
}