.top img{
    width: 300rem;
    height: 200rem;
}

.list{
    width: 700rem;
    height: 150rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10rem 30rem;
    background-color: #fff;
    border-radius: 20rem;
}

.out{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30rem;
    text-decoration: none;
    color: #333;
}