.step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(95, 160, 138);
}

.address{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select{
    color: #333;
}

