.main{
    width: 640rem;
    height: 200rem;
    margin: 30rem 55rem;
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 300rem;
    height: 160rem;
    background-color: #fff;
    font-size: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30rem;
    color: rgb(91, 121, 113);
    font-weight: bold;
}

.right{
    width: 300rem;
    height: 160rem;
    background-color: rgb(132, 199, 191);
    font-size: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 30rem;
    color: #fff;
    font-weight: bold;
}