.list{
    height: 170rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 2rem rgb(107, 107, 107) solid;
    border-bottom: 2rem rgb(107, 107, 107)  solid;
}

.top{
    width: 100%;
    height: 70rem;
    display: flex;
    align-items: center;
}

.lead{
    display: flex;
    width: 100%;
    height: 100rem;
    align-items: center;
    justify-content: center;
}

.norecycle{
    width: 160rem;
    font-size: 33rem;
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-weight: bold;
}

.recycling{
    width: 160rem;
    font-size: 33rem;
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-weight: bold;
}

.commit{
    width: 160rem;
    font-size: 33rem;
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-weight: bold;
}

.all{
    width: 160rem;
    font-size: 33rem;
    text-decoration: none;
    color: rgb(46, 45, 45);
    font-weight: bold;
}