.message{
    width: 650rem;
    height: 300rem;
    margin: 50rem;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50rem;
}

.tlist{
    color: darkcyan;
    font-size: 36rem;
    font-weight: bold;
    margin: 40rem 20rem;
}

.pic{
    width: 150rem;
}

.name{
    width: 350rem;
}

.word{
    color: #333;
    text-decoration: none;
    font-size: 40rem;
}

.exit{
    width: 400rem;
    height: 80rem;
    border: none;
    border-radius: 20rem;
    font-size: 35rem;
    font-weight: bold;
    background-color: cadetblue;
    color: #fff;
    margin: 20rem 160rem;
}