.top{
    width: 750rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 30rem 50rem; */
    /* width: 30%; */
    height: 300rem;
    /* border-radius: 0 0 100rem 100rem; */
    background-color: rgb(158, 193, 194);
}


.select:hover a{
    display: inline-block;
}

.order{
    width: 140rem;
    height: 140rem;
    background-color: cadetblue;
    border-radius: 20rem;
    font-size: 45rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order:hover{
    background-color: rgb(53, 87, 88);
    color: aliceblue;
}

.lead{
    width: 450rem;
    /* height: 140rem; */
    /* position: relative; */
    text-align: center;
    font-size: 16rem;
    background-color: rgb(235, 235, 235);
    color: aliceblue;
    border-radius: 10rem;
    float: left;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    position: absolute;
    top: 50rem;
    left: 210rem;
}
.lead a{
    /* display: block; */
    display: none;
    height: 40rem;
    text-align: center;
    line-height: 40rem;
    border-radius: 10rem;
}
.lead a:hover{
    background-color: rgb(185, 224, 208);
    color: rgb(255, 255, 255);
    text-align: center;
}

.link{
    /* width: 160px;
    height: 40px; */
    text-align: center;
    line-height: 40rem;
    border: none;
    border-radius: 10rem;
    font-size: 23rem;
    color:darkcyan;
    margin: 12rem;
}

.link:hover{
    background-color: rgb(185, 224, 208);
    color: rgb(255, 255, 255);
    text-align: center;
}

.title{
    width: 470rem;
    height: 140rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45rem;
    font-weight: bold;
    color: cadetblue;
    border-radius: 20rem;
}

.list{
    width: 750rem;
    height: 100%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 37rem; */
    background-color: #fff;
    border-top: 0.5rem rgb(214, 214, 214) solid;
}

.adm-radio.adm-radio-checked .adm-radio-icon {
    background-color: cadetblue !important;
}

.item{
    width: 300rem;
    height: 350rem;
    background-color: rgb(253, 251, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    margin: 10rem;
}

.image{
    margin: 10rem;
}

.info{
    width: 350rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30rem;
}

.name{
    margin-left: 40rem;
    font-size: 34rem;
    font-weight: bold;
    color: #333;
}

.cost{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn{
    border: none;
    background-color: rgb(117, 81, 37);
    color: #fff;
    font-size: 32rem;
    font-weight: bold;
    border-radius: 20rem;
}

.tips{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}